body {
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
    width: 100%;
    border: 5px solid #ccc;

    margin: 30px;
}

h1 {
    font-family: 'Poppins', sans-serif;
}

table {
    font-family: 'Poppins', sans-serif;
    /* Apply font to the table */
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    padding: 8px;
    text-align: left;
    border-right: 1px solid #ccc;
    /* Add vertical border */
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

td:last-child,
th:last-child {
    border-right: none;
    /* Remove vertical border on the last column */
}

td {
    margin: 4px;
}